@page "{name}"
@model MilgradDairy.Pages.Butter

@{
    ViewBag.Title = "Milgrad Dairy | butter";
}

<div class="card-container">
    <div class="card-item white-card">
        <video controls autoplay muted>
            <source src="@Url.Content(Model.butter.Video)" type="video/mp4">
            Sorry, your browser does not support this video :(
        </video>
    </div>

    <div class="card-item product-card">
        <p>@Model.butter.Name</p>
        <img class="thumbnail" src="@Url.Content(Model.butter.Image)" alt="Pack of butter">
        <div class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" src="@Url.Content(Model.butter.Image)" alt="Enlarged product image">
            <div class="caption"></div>
        </div>
    </div>

    <div class="card-item white-card">
        <p>@Model.butter.Description</p>
        <hr><p>size: @Model.butter.Size</p>
        <hr><p id="price">@Model.butter.Price</p>
        <button class="submit-button" id="add-butter">add to basket</button>
    </div>
</div>

<div class="all-products">
    <img src="~/images/all-products.png" alt="Our product range">
    <a asp-page="All" class="submit-button">see all products</a>
</div>
