@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MilgradDairy.Pages.CreateAccount

@{
    ViewBag.Title = "Milgrad Dairy | create account";
}

<div class="card-container">
    <div class="card-item product-card">
        <h1>create an account:</h1>
    </div>

    <div class="card-item white-card" id="form-card">
        <form method="post">
            <label asp-for="@Model.User.FirstName"></label>
            <input asp-for="@Model.User.FirstName">
            <span asp-validation-for="@Model.User.FirstName"></span>
            
            <label asp-for="@Model.User.LastName"></label>
            <input asp-for="@Model.User.LastName">
            <span asp-validation-for="@Model.User.LastName"></span>
            
            <label asp-for="@Model.User.Email"></label>
            <input asp-for="@Model.User.Email">
            <span asp-validation-for="@Model.User.Email"></span>
            
            <label asp-for="@Model.User.Password"></label>
            <input asp-for="@Model.User.Password">
            <span asp-validation-for="@Model.User.Password"></span>
            
            <label asp-for="@Model.User.ConfirmPassword"></label>
            <input asp-for="@Model.User.ConfirmPassword">
            <span asp-validation-for="@Model.User.ConfirmPassword"></span>
            
            <br><label>i have read the terms and conditions <a asp-page="Terms" target="_blank">here</a></label>
            <input asp-for="@Model.User.Accept">
            <span asp-validation-for="@Model.User.Accept"></span>
            <input type="submit" value="submit">
        </form>
    </div>

    <div class="card-item white-card">
        <video controls autoplay muted>
            <source src="~/video/love.mp4" type="video/mp4">
            Sorry, your browser does not support this video :(
        </video>
    </div>
</div>