@page
@model MilgradDairy.Pages.LogIn
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewBag.Title = "Milgrad Dairy | log in";
}

<div class="card-container">
    <div class="card-item product-card">
        <h1>login here:</h1>
    </div>

    <div class="card-item white-card" id="form-card">
        <form method="post">
        <label asp-for="@Model.TryUser.Email"></label>
        <input asp-for="@Model.TryUser.Email">
        <span asp-validation-for="@Model.TryUser.Email"></span>
        
        <label asp-for="@Model.TryUser.Password"></label>
        <input asp-for="@Model.TryUser.Password">
        <span asp-validation-for="@Model.TryUser.Password"></span>
        
        <span>@Model.LogInError</span>
        <input type="submit" value="submit">
        </form>
    </div>

    <div class="card-item white-card">
        <h1>don't have an account?</h1>
        <a asp-page="CreateAccount" class="submit-button">sign up here</a>
    </div>
</div>