@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MilgradDairy.Pages.ViewProduct

@{
    ViewBag.Title = "Milgrad Dairy | " + @Model.Product.Name;
}

<div class="card-container">
    <div class="card-item white-card">
        <video controls autoplay muted>
            <source src="@Url.Content(Model.Product.Video)" type="video/mp4">
            Sorry, your browser does not support this video :(
        </video>
    </div>

    <div class="card-item product-card">
        <p>@Model.Product.Name</p>
        <img class="thumbnail" src="@Url.Content(Model.Product.Image)" alt="@Model.Product.AltText">
        <div class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" alt="Enlarged product image">
            <div class="caption"></div>
        </div>
    </div>

    <div class="card-item white-card">
        <p>@Model.Product.Description</p>
        <hr><p>@Model.Product.Size</p>
        <hr><p id="price">£@Model.Product.Price</p>
        <button class="submit-button" id="add-kefir">add to basket</button>
    </div>
</div>